{% extends 'main.html' %}
{% load static %}


{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg rounded-lg">
                <div class="card-body">
                    <h3 class="card-title text-center">Log Out</h3>
                    <p class="card-text text-center">Are you sure you want to log out?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger w-100">Log Out</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}